body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #ffffff; /* Fundo branco */
  color: #1B1F3B; /* Azul escuro para texto */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #1B1F3B; /* Azul escuro */
}

a {
  color: #78C850; /* Verde para links */
  text-decoration: none;
}

button {
  font-family: 'Roboto Slab', sans-serif;
}
